.content {
    height: 763px;

    background: #000000 url(chitinskaya_tec-1.jpg)
    center center no-repeat scroll;
    background-size: 100%;
    background-color: black;

    text-align: center;

    display: flex;
    justify-content: center;
    flex-direction: column;
}


.video__inner {
}

.video_company {
    width: 650px;
    height: 315px;
    border-radius: 10px;
}